@page
@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="text-center mt-5">
    <h1 class="text-danger">403 - Erişim Reddedildi</h1>
    <p>Bu sayfayı görüntülemek için yetkiniz bulunmamaktadır.</p>
    <a class="btn btn-primary" href="/">Anasayfaya Dön</a>
</div>
